@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

/*   HUMBERGER ICON */
.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #000000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("./assets/images/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

.triangle {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #4f386d;
  height: 150px;
  width: 150px;
}

.main {
  position: relative;
  width: fit-content;
  transform: translateY(100px);
}

.text-container {
  position: absolute;
  top: 12%;
  left: 20px;
  /* transform: translateY(-50%); */
  transition: top 0.3s ease;
}

.rounded-image {
  width: 150px; /* Set your desired width */
  height: 150px; /* Set your desired height */
  border-radius: 50%;
}

.rounded-image-container {
  overflow: hidden;
  /* position: absolute; */
  top: 50%;
  left: 10px;
  transform: translateY(-50%) scale(0);
  transition: transform 0.3s ease;
}
.main:hover .text-container {
  top: -24%;
  left: 40px;
}

.main:hover .triangle {
  transform: scale(0);
}

.main:hover .rounded-image-container {
  transform: translateY(-100%) scale(1);
}
